# 微信小程序
.DS_Store
node_modules/
.miniprogram-cache/
project.private.config.json

# 云函数
cloudfunctions/*/node_modules/
cloudfunctions/*/.miniprogram-cache/

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 日志
*.log
npm-debug.log*

# 临时文件
*.tmp
.temp/
